/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*================== Base Style ==================*/
body{
	background: black; /*d8d2d2;   /*e8e8e8;*/
	background-color: black;
	background-image: url("https://www.transparenttextures.com/patterns/subtle-zebra-3d.png");
	color: white;
	font-family: "CircularStd", sans-serif;
	

}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: static;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
/*========= Header Style ==========*/
.logo{
	font-size: 30px;
	line-height: 80px;
	font-weight: bold;
	padding: 0 100px;
}


.header-nav{
	background: black;
	border-radius: 4px;
	width: 100%;
	height: 80px;
}

.header-nav ul{
	float: right;
	margin-right: 100px;
}

.header-nav ul li{
	display: inline-block;
	line-height: 80px;
	margin:	0 5px;
}

nav ul .contact-head{
	display: none;
}
.header-nav ul li a{
	border: 1px solid white;
	color: white;
	font-size: 17px;
	text-transform: uppercase;
	text-decoration: none; /* eliminates underline of links */
	padding: 7px 13px;
}

.header-nav ul li a:hover, active{
	/*color: #59f7da;*/
	color: black;
	background: white;
	transition: .5s;
}

.check-button{
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display:none;
}

#check{
	display: none;
}

/* Gallery Style */
.container-fluid{
	padding-bottom: 10px;
	display: inline-flex;

}



/* Footer Style */
.footer{
	margin-top: 10px;
	width: 100%;
	height: 100px;
	background: black;
	
}

.footer ul li{
display: inline-block;
}


.Copyright {
	line-height: 40px;
	float: right;
	font-size: 15px
}
section img:hover{
	border: 5px solid black;
}
/* media queries */
img { max-width: 100%; height: auto;}

/* Media Queries: Tablet Landscape */

@media screen and (max-width: 952px) {

	label .logo{
		font-size: 30px;
		padding-left: 50px;
	}

	nav ul li a{
		font-size: 16px;
	}
}

/* was 600px */
@media screen and (max-width: 858px){
	

	.check-button{
		display: block;
	}
	.header-nav ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		top: 80px;
		left:-100%;
		text-align: center;
		transition: all .5s;
		background:  black;

	}
	nav ul li{
		margin: 50px 0;
		line-height: 30px;
		font-weight: bold;


	}

	nav ul li a{
		font-size: 20px;
	}

	#check:checked ~ ul{
		left: 0;
	}

}


@media screen and (max-width: 445px){
	

	.header-nav a{
		float: left;
		font-size: 18px;

	}
	.logo{
		font-size: 25px;
		padding: 0 40px;
	}

}

