/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*================== Base Style ==================*/
body{
	background:#66023C;
	background-color: #66023c;
	background-image: url("https://www.transparenttextures.com/patterns/subtle-zebra-3d.png");
	
	color: white;
	font-family: "CircularStd", sans-serif;
	

}
.wrapper{
	border: 1px solid white;
	background: black;	

}

/*========= Header Style ==========*/
.header-wrapper{
	
	/*
	width: 100%;
	height: 100%;
	*/

}

.page-header{
	
	height: 45px;
	width: 100%;

	background: black;
	border: 2px solid black;
}

.page-header .header-wrapper{
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.logo{
	font-size: 23px;
}


.header-nav{
	font-size: 20px;
}
.header-nav ul{
	display: flex;	
}

.header-nav ul a{
	color: white;
	text-transform: uppercase;
	line-height: 66px; /* centers list items by matching header height */
	text-decoration: none; /* eliminates underline of links */
	padding: 0 35px;
}

.header-nav ul a:hover{
	color: #59f7da;
}

/*============= Aside ============*/
.left-column{
	display: flex;
	flex-direction: column;
	margin-left: 5px;
	margin-right: 12px;
	/*width: 300px*/;
	box-sizing: content-box;
	
}

.wrapper-image{
	margin-top: 15px;
	margin-right: 20px;
	border: 1px solid white;
	background: rgba(0,0,0);
	/*width: 300px;*/
}

.contact-wrapper{
	margin-top: 10px;
	border: 2px solid black;
	background: black;
	/*width:300px;*/
	}


/*============= Main =============*/
.row{
	display: flex;
	/*
	width: 100%
	*/
	margin-right: 15px;
}

.profile a img{
	/*
	width: 300px;
	height: auto;
	*/
	border-radius:125%;
	padding: 5px;
	padding-top: 20px;
	box-sizing: border-box;
}

.profile a img:last-child{
	display: none;
}
.profile a:hover img:last-child {
	display: block;
}
.profile a:hover img:first-child {
	display:none;
}

.profile p{
	padding-top: 10px;
	box-sizing: border-box;
	text-align: center;
	font-weight: 700;
	font-style: italic;

}

h2{
	font-size: 20px;
}

h3{
	font-size: 20px;

}
h3::after{
	content: '.';
	font-size: 0;
	display: block;	
	height: 2px;
	width: 160px;
	background: #ca0500;
}	
.contact h2::after{
	content: '.';
	font-size: 0;
	display: block;	
	height: 2px;
	width: 105px;
	background: #ca0500;
}

#about{
	font-size: 25px;
}

.right-column{
	margin-top: 15px;
}

article{
	line-height:25px;
	width: 100%;
	float: left;
	background: rgba(0,0,0,.5);
	padding-top: 10px;
	box-sizing: border-box;
	border: 1px solid white;



}

article p , article h3{
	margin-left: 10px;
}


.right-column li{
	margin-left: 40px;
	list-style-type: disc; 

}

#topicLI{
	margin-left: 23px;
	list-style-type: square;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
}

.contact{
	/*height: 326px;*/
}

#bio{
	margin-top: 10px;
	line-height: 18px;

}

#contactTitle{
	padding-top: 10px;
	padding-left: 5px;
	box-sizing: border-box;
}


.contact li{
	margin: 10px 40px 30px; 
}

.contact a{
	display: inline-block;
	text-decoration: none;
	line-height: 40px;
	border-radius: 50%;
	text-align: center;
	width: 40px;
	height: 40px;
	background: #444444;
	color: white;
}

.contact a:hover{
	background: #59f7da;
	color: black;
}

.contact p{
	display: inline-block;
	padding-left: 10px;

}

.project li{
	list-style: square;
}

.project li a{
	
	list-style-type: square;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	color: #66dddb;
}

.subproject{
	margin-left: 15px;
}
.subproject li{
	list-style: disc;
}

.wrapperResume {
	margin-left: 30px;
	border: 2px black solid;
	margin-top: 15px;
	width: 100%;
}




img { max-width: 100%; height: auto; }
/* Media Queries: Tablet Landscape */
@media screen and (min-width: 320px) and (max-width: 505px) {
	.row{
		width: 100%;
	}
	.left-column{
		width: 35%;
	}
	.right-column{
		width: 65%;
	}
	.wrapper-img{
		width: 100%;
	}

	.contact li{
		margin: 0px 0px 0px;
	}

}


@media screen and (max-width: 737px) {
	.logo{
		font-size: 20px;
	}
	.row{
   		width: 100%;
   	}

   	.right-column{
   		width: 55%;
   		margin-right: 3%;
   	}

   	.left-column{
   		width: 35%;
   		margin-left: 3%
   	}
	
}
@media screen and (max-width: 1000px) {
   .row{
   	width: 100%;
   }
   .right-column{
   	width: 60%;
   	margin-right: 3%;
   }
   .left-column { 
   	width:30%; 
   	margin-left:3%;
   }  

   .contact-wrapper{
   	width: 93%;

   }

}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 1200px) {
   .row{
   	width: 100%;
   }
   .right-column{
   	width: 64%;
   	margin-right: 3%;
   }
   .left-column { 
   	width:30%; 
   	margin-left:2%;
   }  

   .contact-wrapper{
   	width: 93%;

   }
}